README copy.md
info.sh
.DS_Store
.python-version
pyproject.toml
analytics/__pycache__/
analytics/.venv/
cluster.yml
nodegroup.yml
cluster-trust-policy.json
eks-connector-clusterrole.yaml
node-role-trust-relationship.json
db/all-in-one.sql